.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav li a:hover {
  color: #1abc9c !important;
}

/* .footer-padding {
  padding-bottom: 60px;
} */

.footer {
  position: relative;
  /*absolute会让footer在可视页面的最低端，但是当post超出可视页面，就会变奇怪。relative是在离最下box的相对底端，所以当post不超过可视页面时会很奇怪*/
  text-align: center;
  bottom: 0;
  margin-top: 60px; /*modified add*/
  width: 100%;
  height: 60px;
  background-color: #1abc9c;
}

.footer p {
  padding-top: 23px; /*angela version：margin-top：25px*/
  font-size: 12px;
  color: #fff;
}

/* my */
button {
  margin-top: 10px;
}

/* 用css来截断字符
.content {
  display: block;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
} */
